body {
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", "Helvetica", sans-serif;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 0;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 21px;
  line-height: 21px;
}
h3 {
  font-weight: normal;
  line-height: 21px;
  font-size: 14px;
}
/*сетка для главной страницы*/
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 1200px;
  padding: 0px;
  margin: 0 auto;
}

/* header*/
.main-header {
  background-color: white;
  height: 56px;
  background: red;
  margin-bottom: 0px;
}

.main-header .container {
  position: relative;
  background: yellow;
  margin-bottom: 0px;
}

.main-navigation ul {
  margin: 0;
  padding: 0 73px;
  list-style: none;
  font-size: 0;
}
.main-navigation ul div {
  width: 50%;
  display: inline-block;
}

.main-navigation ul div.right {
  text-align: right;
}

.main-navigation li {
  display: inline-block;
  width: 180px;
  font-size: 14px;
  line-height: 16px;
  vertical-align: top;
  text-align: center;
}

.main-navigation a {
  background: blue;
  display: block;
  padding: 20px;
  color: black;
  text-decoration: none;
}

.main-header .header-logo {
  position: absolute;
  height: 70px;
  top: 0px;
  left: 530px;
}

/*header end*/


.welcome-to-sedona{
  height: 725px;
  background-image: url("../img/background-photo.jpg");
  padding-top: 1px;
}

.welcome-to-sedona img {
  display:block;
  margin-bottom: 64px;
  margin-left: auto;
  margin-right: auto;
}
.welcome-to-sedona img:first-child {
  margin-top: 75px;
}

.welcome-to-sedona-title {
  margin-top: 140px;
  text-align: center;
  height: 214px;
}

.benefits-blue {
 
  background-color: #81b3d2;
  color: white;
  width: 400px;
  height: 256px; 
  float: left;
  text-align: center;
  vertical-align: middle;
}
.benefits-blue h2 {
  margin-top: 52px;
}

.benefits-picture {
  width: 800px;
  height: 256px;
  float: left;
}
.benefits-white {
  width: 400px;
  height: 330px;
  float: left;
  text-align: center;
}

.benefits-white-picture {
  display: inline-block;
  width: 76px;
  height: 76px;
  margin-top: 60px;
  margin-bottom: 30px;
}

.benefits-gray {
  width: 400px;
  height: 256px; 
  float: left;
  text-align: center;
  background-color: #eeeeee;
}
.benefits-gray h2 {
  margin-top: 45px;
}

.post-benefits {
  height: 290px;
  text-align: center;
}

.post-benefits {
  padding: 1;
}
.post-benefits h1 {
  margin-top: 54px;
}
.post-benefits h3 {
  line-height: 24px;
}

.search-hotels {
  position: absolute;
  top: -85px;
  left: 315px;
  width:565px;
  height:480px;
  margin-left: auto;
  margin-right: auto;
  background: white; 
}
.search-hotels-title {
  font-size: 21px;
  color: white;
  text-align: center;
  height: 55px;
  background-color: #766357;
  line-height: 26px;
  padding-top: 30px;
}
.map {
  position: relative;
  background-image: url(../img/map.jpg);
  height: 590px;
}

.search-hotels .btn {
  font-size: 21px;
  color: white;
  text-align: center;
  width: 455px;
  height: 60px;
  background-color: #81b3d2;
  text-transform: uppercase;
  position: absolute;
  top: 370px;
  left: 55px;
  border: 0px;
}
.form-check-in {
  margin-top: 56px;
  margin-left: 52px;
}
#check-in-edit {
  width: 345px;
  height: 36px;
  background-color: #f2f2f2;
  border: 0px;
  margin-left: 18px;
}
.form-check-out {
  margin-top: 28px;
  margin-left: 52px;
} 
#check-out-edit {
  width: 345px;
  height: 36px;
  background-color: #f2f2f2;
  border: 0px;
  margin-left: 16px;
}

.search-hotels-updown {
  display: inline-block;
  margin-top: 28px;
  margin-left: 52px;
}
.search-hotels-updown-edit {
  display: inline-block;
  padding: 5px;
  background-color: #f2f2f2;
}
.search-hotels-updown-edit button, .search-hotels-updown-edit input {
  border: none;
  background-color: #f2f2f2;
  text-align: center;
}

.search-hotels-updown-edit button {
  cursor: pointer;
}

.main-footer {
  padding-top: 35px;
  padding-bottom: 35px;
}

.footer-visitsedona {
  display: block;
  float: left;
  width: 240px;
  margin-right: 87px;
  margin-left: 73px;
  min-height: 120px;
  font-size: 21px;
}

.footer-social {
  float: left;
  width: 400px;
  min-height: 120px;
  margin-right: 87px;
}
.social-btn {
  display: inline-block;
  width: 46px;
  height: 48px;
  margin: 0 2px;
  font-size: 0;
  vertical-align: top;
  text-decoration: none;
  background: #81b3d2;
}

.footer-copyright {
  float: left;
  width: 240px;
  min-height: 120px;
  margin-right: 73px;
}

.footer-copyright b {
  font-size: 14px;
  font-weight: normal;
}
/* сетка для каталога*/

.filter-infrastructure {
  width: 240px;
  margin-left: 73px;
  float: left;
  min-height: 215px;
}

.filter-property-type {
  width: 287px;
  float:left;
  margin-right: 200px;
  min-height: 215px;
}

.filter-price {
  width: 327px;
  margin-right: 73px;
  float: right;
  min-height: 215px;
}
.sorting {
  min-height: 85px;
  width: 1200px;
}
.sorting h2 {
  width: 120px;
  margin-left: 73px;
  min-height: 85px;
  float: left;
}
.sorting-type {
  width: 694px;
  min-height: 85px;
  float: left;
}

.sort-asc-dsc {
  float: right;
  width: 240px;
  margin-right: 73px;
}

.search-result-item {
  min-height: 150px;
}
.search-result-img {
  width: 134px;
  margin-left: 73px;
  margin-right: 30px;
  float: left;
}

.search-result-item .description {
  width: 563px;
  margin-right: 87px;
  float: left;
  min-height: 150px;
}
.search-result-item .rating {
  width: 240px;
  margin-right: 73px;
  float: right;
}