body {
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", "Helvetica", sans-serif;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 0;
  background-color: white;
}
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "symbols-sedona";
  src: url("../fonts/symbols-sedona.woff") format("woff"),
  url("../fonts/symbols-sedona.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;
  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-sedona";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;
  speak: none;
}

.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-star::before { content: "\2605"; } /* "★" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-calendar::before { content: "\e800"; } /* "" */
.icon-plus::before { content: "\e801"; } /* "" */
.icon-minus::before { content: "\e802"; } /* "" */
.icon-youtube::before { content: "\f39e"; } /* "" */


h1 {
  font-size: 30px;
}

h2 {
  font-size: 21px;
  line-height: 21px;
}

h3 {
  font-weight: normal;
  line-height: 21px;
  font-size: 14px;
}

/*сетка для главной страницы*/
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 1200px;
  position: relative;
  padding: 0px;
  margin: 0 auto;
  box-shadow: -9px 0 20px -10px #333, 
              9px 0 20px  -10px #333;
}

.main-header {
  background-color: #FFFFFF;
  color: #000000;
  height: 56px;
  margin-bottom: 0px;
  position: relative;
}

.main-navigation .menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-item {
  float: left;
  width: 20%;
  text-align: center;
}

.menu-item:nth-child(2) {
  margin-right: 20%;
}

.menu-item a {
  padding: 16px 0;
  text-decoration: none;
  color: #000000;
  display: block;
}

.menu-item a:hover {
  color: #81b3d2;
}

.menu-item a:active {
  color: #b2b2b2;
}

.main-navigation .active a{
  color: #9b8d84;
}
.main-navigation .active a:hover {
  color: #604e43;
}
.main-navigation .active a:active {
  color: #d6d0cc;
}

.header-logo {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -69px;
}

.welcome-to-sedona{
  max-height: 723px;
  background-color: #E0F8F7;
  background-image: url("../img/background-photo1.jpg");
  background-repeat: no-repeat;
  padding-top: 1px;
}

.welcome-to-sedona img {
  display:block;
  margin-bottom: 55px;
  margin-left: auto;
  margin-right: auto;
}
.welcome-to-sedona img:first-child {
  margin-top: 75px;
}

.welcome-to-sedona-title {
  margin-top: 140px;
  text-align: center;
  height: 214px;
}

.welcome-to-sedona-title h2 {
  line-height: 24px;
}

.welcome-to-sedona-title h3 {
  margin-top: 30px;
}

.benefits-blue {
  background-color: #81b3d2;
  color: white;
  width: 400px;
  height: 256px; 
  float: left;
  text-align: center;
  vertical-align: middle;
}

.benefits-blue h2 {
  margin-top: 53px;
  margin-bottom: 23px;
}

.benefits-blue h3 {
  margin-top: 20px;
}

.benefits-picture {
  width: 800px;
  height: 256px;
  float: left;
}

.benefits-white {
  width: 400px;
  height: 330px;
  float: left;
  text-align: center;
}

.benefits-white-picture {
  display: inline-block;
  width: 76px;
  height: 76px;
  margin-top: 60px;
  margin-bottom: 8px;
}

.benefits-white-picture-souvenir {
  margin-top: 56px;
  margin-bottom: 12px;
}

.benefits-white h2 {
  margin-bottom: 25px;
}

.benefits-gray {
  width: 400px;
  height: 256px; 
  float: left;
  text-align: center;
  background-color: #eeeeee;
}

.benefits-gray h2 {
  margin-top: 47px;
  margin-bottom: 22px;
}

.benefits-gray h3 {
  margin-top: 20px;
}

.post-benefits {
  height: 235px;
  text-align: center;
}

.post-benefits h1 {
  margin-top: 56px;
  margin-bottom: 31px;
}

.post-benefits h3 {
  line-height: 24px;
}

.search-hotels {
  position: absolute;
  top: -85px;
  left: 315px;
  width:568px;
  height:481px;
  margin-left: auto;
  margin-right: auto;
}


button.search-hotels-title {
  font-size: 21px;
  color: white;
  text-align: center;
  height: 85px;
  width: 100%;
  outline: none;
  border: 0px;
  background-color: #766357;
  line-height: 26px;
  text-transform: uppercase;
}

.search-hotels form {
  width: 100%;
  height: 396px;
  display: none;
  background: #ffffff; 
  box-shadow: 1px 1px 20px 2px #333;
}
.search-hotels form.show {
  display: block;
}

.map {
  position: relative;
  background-image: url("../img/map.jpg");
  height: 590px;
}

.search-hotels input.btn {
  font-size: 21px;
  color: white;
  text-align: center;
  width: 459px;
  height: 58px;
  background-color: #81b3d2;
  text-transform: uppercase;
  margin-top: 55px;
  margin-left: 55px;
  border: 0px;
  outline: none;
}

.search-hotels input.btn:hover {
  background-color: #669ec0;
}

.search-hotels input.btn:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.form-check-in {
  padding-top: 55px;
  margin-left: 56px;
  position: relative;
}

#check-in-edit {
  width: 331px;
  height: 36px;
  background-color: #f2f2f2;
  border: 0px;
  margin-left: 18px;
  padding-left: 14px;
  text-transform: uppercase;
}

#check-in-edit:hover {
  background-color: #ebebeb;
}

#check-in-edit:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  outline: none;
  width: 327px;
  height: 32px;
}

.form-check-out {
  margin-top: 28px;
  margin-left: 55px;
  position: relative;
} 

#check-out-edit {
  width: 331px;
  height: 36px;
  background-color: #f2f2f2;
  border: 0px;
  margin-left: 16px;
  padding-left: 14px;
  text-transform: uppercase;
}

#check-out-edit:hover {
  background-color: #ebebeb;
}

#check-out-edit:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  outline: none;
  width: 327px;
  height: 32px;
}

.search-hotels-updown {
  display: inline-block;
  margin-top: 31px;
  margin-left: 55px;
}

.search-hotels-updown-edit {
  display: inline-block;
  padding: 6px 4px;
  background-color: #f2f2f2;
  margin-left: 38px;
}

.search-hotels-updown-children {
  margin-left: 48px;
}

.search-hotels-updown-children .search-hotels-updown-edit {
  margin-left: 25px;
}

.search-hotels-updown-edit button, .search-hotels-updown-edit input {
  border: none;
  background-color: #f2f2f2;
  text-align: center;
}

.form-check-in .icon-calendar {
  font-size: 21px;
  color: #c2c2c2;
  position: absolute;
  line-height: 36px;
  right: 60px;
  cursor: pointer;
}

.form-check-out .icon-calendar {
  font-size: 21px;
  color: #c2c2c2;
  position: absolute;
  line-height: 36px;
  right: 60px;
  cursor: pointer;
}

.icon-calendar:hover, 
.icon-minus:hover, 
.icon-plus:hover {
  color: #000000;
}

.icon-calendar:active, 
.icon-minus:active, 
.icon-plus:active {
  color: #81b3d2;
}

.search-hotels-updown-edit button {
  cursor: pointer;
  outline: none;
}

.search-hotels-updown-edit span {
  font-size: 14px;
  color: #a9a9a9;
}

.main-footer-index {
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  bottom: 0;
}

.main-footer  {
  width: 1200px;
  padding: 33px 0px;
  height: 54px;
}

.footer-visitsedona {
  display: block;
  float: left;
  width: 400px;
  text-align: center;
  margin-top: 17px;
  font-size: 21px;
}

.footer-social {
  float: left;
  width: 400px;
  margin-top: 5px;
  text-align: center;
}

.social-btn {
  display: inline-block;
  width: 46px;
  height: 46px;
  margin: 0 2px;
  font-size: 0px;
  vertical-align: top;
  text-decoration: none;
  background: #81b3d2;
  color:white;
  text-align: center;
  outline: none;
}

.social-btn:hover {
  background-color: #669ec0;
}

.social-btn:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.social-btn span {
font-size: 19px;
line-height: 46px;
}

.footer-copyright {
  float: left;
  width: 400px;
  min-height: 50px;
  text-align: center;
  margin-top: 10px;
}

.footer-copyright span {
  vertical-align: middle;
  margin-right: 10px;
  font-weight: 400;
}

.footer-copyright a.btn {
  vertical-align: middle;
  background: url("../img/htmlacademy.png");
  background-repeat: no-repeat; 
  display: inline-block;   
  width: 113px; 
  height: 38px; 
}

.footer-copyright a.btn:hover {
  background: url("../img/htmlacademyblue.png") no-repeat;
}

.footer-copyright a.btn:active {
  background: url("../img/htmlacademygray.png") no-repeat;
}

/* сетка для каталога*/
.filters {
  background-image: url("../img/filter-background1.jpg");
  color: white;
  min-height: 217px; 
}

.filters h2 {
  font-size: 16px;
  margin-top: 28px;
}

.form-control input[type="checkbox"] {
  display: none;
}

.form-control input[type="checkbox"] + label {
  display: block;
  margin: 25px 0;
  line-height: 21px;
  padding-left: 39px;
  position: relative;
  cursor: pointer;
  font-weight: normal;
}

.form-control input[type="checkbox"] + label::before {
  content: "\2610";
  font-family: "symbols-sedona";
  font-size: 26px;
  position: absolute;
  top: 0;
  left: 0;

}

.form-control input[type="checkbox"]:checked + label::before {
  content: "\2611";
}

.filter-infrastructure {
  width: 240px;
  margin-left: 73px;
  float: left;
  margin-right: 15px;
}

.filter-property-type {
  width: 275px;
  float:left;
  margin-right: 197px;
}

.filter-range {
  width: 320px;
  margin-right: 72px;
  margin-top: 28px;
  float: right;
  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;
  margin-left: -9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  height: 33px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 88px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
  outline: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 33px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}

.sorting {
  width: 1062px;
  padding: 31px 66px;
  padding-left: 72px;
  vertical-align: middle; 
  border-bottom: 1px solid #e5e5e5;
}

.sorting h2 {
  margin: 0 45px 0 0;
  width: 120px;
  float: left;
}

.sorting-type {
  width: 680px;
  float: left;
}

.sorting-type h4 {
  font-size: 12px;
  display: inline;
  margin-right: 35px;
}

.sorting-type ul {
  display: inline;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sorting-type li {
  display: inline-block;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
}

.sorting-type a {
  display: block;
  color: black;
  margin-right: 30px;
  color: #cbcbcb;
  text-decoration: none;
  border-bottom: 1px dotted #81b3d2;
}

.sorting-type a:hover {
  color: #81b3d2;
}

.sorting-type a:active {
  color: #000000;
  border: none;
}

.sorting-type-active a {
  color: #81b3d2;
  border: none;
}

.sort-asc-dsc {
  float: right;
  width: 200px;
  margin: 0;
  font-size: 23px;
  text-align: right;
}

.sort-asc-dsc a {
  color: #cccccc;
}

.sort-asc-dsc a:hover {
  color: #000000;
}

.sort-asc-dsc a:active {
  color: #81b3d2;
}

.sort-asc-dsc .icon-down-dir {
  margin-left: -17px;
}

 .sort-asc-dsc .sort-asc-dsc-active {
  color: #81b3d2;
}

.search-result-item {
  position: relative;
  padding: 26px 72px;
  border-bottom: 1px solid #e5e5e5;
}

.search-result-item .search-result-img {
  display: inline-block;
  width: 134px;
  margin-right: 28px;
}

.search-result-item .description {
  display: inline-block;
  vertical-align: top;
  position: relative;
  height: 90px;
  min-width: 563px;
}

.description h2 {
  font-size: 21px;
  line-height: 1em;
  font-weight: 700;
  margin-top: -1px;
  margin-bottom: 9px;
}

.description a {
  text-decoration: none;
  color: #000000;
}

.description a:hover {
  color: #81b3d2;
}

.description a:active {
  color: #c2c2c2;
}

.description span {
  font-size: 14px;
  font-weight: 400;
}

.description-span-item1 {
  margin-right: 33px;
}

.description-span-item2 {
  margin-right: 58px;
}

.description-span-item3 {
  margin-right: 15px;
}

.discription-button {
  position: absolute;
  bottom: 0;
}

.discription-button button {
  padding: 2px 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
  margin-right: 5px;
  text-transform: uppercase;
}

.discription-button .blue {
  background-color: #81b3d2;
}

.discription-button .blue:hover {
  background-color: #669ec0; 
}

.discription-button .blue:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.discription-button .brown {
  background-color: #766357;
}

.discription-button .brown:hover {
  background-color: #604e43;
}

.discription-button .brown:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}
 
.search-result-item .rating {
  vertical-align: top;
  position: absolute;
  height: 90px;
  right: 72px;
  display: inline-block;
  text-align: right;
}

.search-result-item .rating-star {
  text-align: right;
  color: #81b3d2;
}

.search-result-item .icon-star {
  font-size: 18px;
  margin-left: -7px;
}

.search-result-item .rating-score  {
  background-color: #f2f2f2;
  color: #8b8b8b;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  padding: 0px 15px;
  position: absolute;
  bottom: 0;
  right: 0;
}